<?xml version="1.0" encoding="utf-8" ?>
<menu>
  <menu-item>
    <key>expresso</key>
    <value>Expresso</value>
    <base-price>1.0</base-price>
    <menu-item-options>
      <menu-item-option>
        <key>small</key>
        <value>Small Shot</value>
        <recipe>
          <ingredient>
            <item>coffee</item>
            <item-option>dark-roast</item-option>
            <quantity>0.07</quantity>
          </ingredient>
        </recipe>
      </menu-item-option>
      <menu-item-option>
        <key>medium</key>
        <value>Medium Shot</value>
        <recipe>
          <ingredient>
            <item>coffee</item>
            <item-option>dark-roast</item-option>
            <quantity>0.14</quantity>
          </ingredient>
        </recipe>
      </menu-item-option>
    </menu-item-options>
  </menu-item>
  <menu-item>
    <key>americano</key>
    <value>Americano</value>
    <base-price>0.5</base-price>
    <menu-item-options>
      <menu-item-option>
        <key>small</key>
        <value>Small Cup</value>
        <recipe>
          <ingredient>
            <item>coffee</item>
            <item-option>medium-roast</item-option>
            <quantity>0.07</quantity>
          </ingredient>
        </recipe>
      </menu-item-option>
      <menu-item-option>
        <key>medium</key>
        <value>Medium Cup</value>
        <recipe>
          <ingredient>
            <item>coffee</item>
            <item-option>medium-roast</item-option>
            <quantity>0.14</quantity>
          </ingredient>
        </recipe>
      </menu-item-option>
    </menu-item-options>
  </menu-item>
  <menu-item>
    <key>latte</key>
    <value>Latte</value>
    <base-price>1.5</base-price>
    <menu-item-options>
      <menu-item-option>
        <key>small</key>
        <value>Small Cup</value>
        <recipe>
          <ingredient>
            <item>coffee</item>
            <item-option>dark-roast</item-option>
            <quantity>0.07</quantity>
          </ingredient>
          <ingredient>
            <item>milk</item>
            <quantity>0.30</quantity>
          </ingredient>
        </recipe>
      </menu-item-option>
      <menu-item-option>
        <key>medium</key>
        <value>Medium Cup</value>
        <recipe>
          <ingredient>
            <item>coffee</item>
            <item-option>dark-roast</item-option>
            <quantity>0.14</quantity>
          </ingredient>
          <ingredient>
            <item>milk</item>
            <quantity>0.50</quantity>
          </ingredient>
        </recipe>
      </menu-item-option>
    </menu-item-options>
  </menu-item>
</menu>